@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pixelify+Sans&display=swap');

body {
	overflow: hidden;
	background-image: url('assets/background-stagnant.png');
	background-size: cover;
	padding: 20px;
}

#head-space {
    position: fixed;
    width: 350px;
    height: 200px;
    overflow: hidden;
    z-index: 2;
    background-image: url('assets/maze.png');
	background-size: cover;
	border: 2px solid;
}

#movable {
    position: absolute;
}

#movable img {
    width: 120px;
}

#img-container {
    z-index: 1;
    width: 98.5%;
    height: 97%;
    position: absolute;
    left: 10px;
    overflow: hidden;
}

#img-container img {
    position: absolute;
/*    border: 1px solid;*/
    z-index: 3;
    /*max-width: 100px;
    max-height: 100px;*/
}

/* QUESTIION TAB QUESTIION TAB QUESTIION TAB QUESTIION TAB */
/* QUESTIION TAB QUESTIION TAB QUESTIION TAB QUESTIION TAB */
/* QUESTIION TAB QUESTIION TAB QUESTIION TAB QUESTIION TAB */

.question-container{
	position: absolute;
	display: flex;
	width: 550px;
	z-index: 10;
	right: -470px;
}

.question-container p {
	font-size: 15px;
	margin: 0px;
}

.corners{
	display: flex;
	width: 85%;
	margin: -20px;
	position: absolute;
	margin-top: -20px;
	pointer-events: none;
}

#c2{
	position: absolute;
	right: 8px;
}

#lines{
	position: absolute;
	margin-top: 110px;
}

.questions{
	border: 2px solid #3e7e49;
	padding: 30px;
	padding-top: 30px;
	overflow-y: auto;
    max-height: 600px;
    background-color: rgba(255 255 255 / 0.7);
}

.questions p{
	margin-left: 50px;
}

#q-tab{
	padding: 5px;
	width: 200px;
	border: 2px solid #3e7e49;
	background-color: rgba(255 255 255 / 0.7);
	height: 60px;
	margin-right: -1px;
}

#q-tab img{
	width: 100%;
}
  
input[type="text"] {
	border: none;
	border-bottom: 1px solid #000;
	background: none;
	font-family: 'Caveat', cursive;;
	font-size: 20px;
	width: 200px;
}

input[type="text"]:focus {
    outline: none;
  }

label.coolbox {
    padding:6px;
    display: block;
    height: auto;
    text-align:left;
   	border: 1px solid;
   	margin-left: 50px;
}

label.coolbox input {
	display:none;
}

label.coolbox input[type="radio"] + span {
    border: 1.5px solid transparent;
	border-radius: 50px;
	padding: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
}

label.coolbox input:checked + span {
	border: 1.5px solid red;
	border-radius: 50px;
	padding: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 2px solid;
    z-index: 1000;
    width: 500px;
    background-color: rgba(255 255 255 / 0.5);
    text-align: center;
    font-family: 'Pixelify Sans', cursive;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.info{
	position: absolute;
	bottom: 20px;
	left: 20px;
	border: 1.5px solid black;
	background-color: rgba(255 0 255 / 0.2);
	border-radius: 50px;
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;
	z-index: 15;
}

.info img{
	width: 30px;
	rotate: 30deg;
}

/*BINARY DIV*/

#binary{
	position: absolute;
	display: flex;
	bottom: 20px;
	left: 150px;
	width: 500px;
	height: 50px;
	border: 1.5px solid;
}

#binary.state1 .inner-div {
  width: 30px; /* Adjust as needed */
  height: 100%;
  margin-right: 10px; /* Adjust spacing */
  background-color: red;
  border: 1px solid yellow;
}

#binary.state2 .inner-div {
  width: 30px; /* Adjust as needed */
  height: 100%;
  margin-right: 10px; /* Adjust spacing */
  background-color: red;
  border: 1px solid yellow;
}

#binary.state3 .inner-div {
  width: 30px; /* Adjust as needed */
  height: 100%;
  margin-right: 10px; /* Adjust spacing */
  background-color: red;
  border: 1px solid yellow;
}

#binary.state4 .inner-div {
  width: 30px; /* Adjust as needed */
  height: 100%;
  margin-right: 10px; /* Adjust spacing */
  background-color: red;
  border: 1px solid yellow;
}

#binary.state5 .inner-div {
  width: 30px; /* Adjust as needed */
  height: 100%;
  margin-right: 10px; /* Adjust spacing */
  background-color: red;
  border: 1px solid yellow;
}

#binary.state6 .inner-div {
  width: 30px; /* Adjust as needed */
  height: 100%;
  margin-right: 10px; /* Adjust spacing */
  background-color: red;
  border: 1px solid yellow;
}


button{
	font-family: 'Pixelify Sans', cursive;
}

