#head-space {
    position: fixed;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    z-index: 2;
}

#movable {
    position: absolute;
}

#movable img {
    width: 90px;
}

#img-container {
    z-index: 1;
    width: 98.5%;
    height: 97%;
    position: absolute;
    left: 10px;
    overflow: hidden;
/*    border: 1px solid;*/
}

#img-container img {
    position: absolute;
    border: 1px solid;
    z-index: 3;
    max-width: 100%;
    max-height: 100%;
}
